{% extends 'AioMediaAdminBundle::layout.html.twig' %}

{% block mainClass %}pages{% endblock %}

{% block title %}
    {{ 'Pages Teasers' |trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
	<link rel="stylesheet" href="{{ asset('bundles/aiopagesteasers/css/pagesteasers.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript" src="{{ asset('bundles/aiopagesteasers/js/pageteasers.js') }}"></script>
		
	<script type="text/javascript" src="{{ asset('bundles/aiopagesteasers/js/bootstrap.min.js') }}"></script>
	
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

{% endblock %}

{% block content %}
    {% set route_params = app.request.attributes.get('_route_params') |merge(app.request.query.all) %}

    {% block header %}
    	<div id="choix_media">
    		<a href="{{ path('aio_pages_teasers_homepage', {id : id, lang: lang}) }}" class="{{ found(app.request.get('_route'), 'aio_pages_teasers_homepage') ? 'selected ' : '' }}">{{ 'Pages' |trans }}</a>
    		<a href="{{ path('aio_pages_teasers_area', {id : id, lang: lang}) }}" class="{{ found(app.request.get('_route'), 'aio_pages_teasers_area') ? 'selected ' : '' }}">{{ 'Zones' |trans }}</a>
    		<a href="#" class="">{{ 'Element' |trans }}</a>
    		<a href="{{ path('aio_pages_teasers_structure', {id : id, lang: lang}) }}" class="{{ found(app.request.get('_route'), 'aio_pages_teasers_structure') ? 'selected ' : '' }}">{{ 'Teaser Structure' |trans }}</a>
    		<a href="{{ path('aio_pages_teasers_content', {id : id, lang: lang}) }}" class="{{ found(app.request.get('_route'), 'aio_pages_teasers_content') ? 'selected ' : '' }}">{{ 'Teaser Contenu' |trans }}</a>
		</div>
    {% endblock %}

    <div style="background-color:#fff;padding:20px;min-height:600px;">
        {% block main %}{% endblock %}
    </div>
{% endblock %}