{% extends "AioPagesTeasersBundle::layout.html.twig" %}


{% block main %}
	<div class="header">
			<div class="left">
				<h1>Add Zone</h1>	
			</div>
		<br class="clearfloat">
	</div>
	
	<form id="form_section_add" class="form_link" action="" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}
	 	{{ form_row(form.name) }}
		{{ form_row(form.type) }}
		{{ form_row(form.tree) }}
		<input type="submit" value="{{'Enregistrer'|trans}}" class="btn btn-primary" />
	</form>
{% endblock %}
