{% extends "AioPagesTeasersBundle::layout.html.twig" %}


{% block main %}
	
	<!-- Requête AJAX -->
	<script>
		function select_rubrique(element)
		{
			var rubrique_id = element.options[element.selectedIndex].value;
			//Requête ajax
			$.ajax({
				url: "{{ path('aio_pages_teasers_area_rubrique_items', {lang:lang, area_id:area_id}) }}",
				type: 'POST',
				data: 'rubrique_id='+rubrique_id,
				success: function(data)
				{
					$('#rubrique_items').html(data);	
				},
			 	error: function(err1, err2, err3)
			 	{
					alert(err1);
					alert(err2);
					alert(err3);
			 	}
			});
		}
	</script>

	<div class="header">
			<div class="left">
				<h1>Edit Zone</h1>	
			</div>
   		<br class="clearfloat">
	</div>
	
	<form style="margin-bottom:50px;" id="form_section_add" class="form_link" action="" method="post" {{ form_enctype(form) }}>
		{{ form_errors(form) }}
	 	{{ form_row(form.name) }}
		{{ form_row(form.type) }}
		{{ form_row(form.tree) }}
		<input type="submit" value="{{'Enregistrer'|trans}}" class="btn btn-primary" />
	</form>
 	<hr />   
 	 
	<div class="modal-header">
		<h3 id="myModalLabel">Ajouter des accroches à la zone</h3>
	</div>
	
	<div class="modal-body">
		<p>
			<select onchange="select_rubrique(this);">
				{% for rubrique in rubriques %}
				<option value="{{ rubrique.id }}">{{ rubrique.name }}</option>
				{% endfor %}
			</select>
		</p>
		
		<div id="rubrique_items">
		{{ render(controller('AioPagesTeasersBundle:Area:rubriqueItems', {lang: lang, area_id:area_id })) }}
		</div>
		
	</div>
	
	<form id="area_save_content" method="POST" action="{{ path('aio_pages_teasers_area_save_area_content', {area_id: area_id, id:id }) }}">
		<select style="display:none;" name="content_items[]" id="select_save_area_content" multiple="multiple">
			
		</select>
		
		<select style="display:none;" name="content_items_remove[]" id="select_remove_area_content" multiple="multiple">
			
		</select>
		
	    <div class="margintop40">
	   	    <button class="btn btn-primary" type="submit" >Enregistrer</button>
	    </div>
    </form>	

{% endblock %}
