{% extends "AioPagesTeasersBundle::layout.html.twig" %}

{% block header %}
  	{{parent()}}
{% endblock %}

{% block main %}
	<div class="right" style="margin-bottom:30px;">
		<a href="{{ path('aio_pages_teasers_area_add', {lang:lang, id:id}) }}" class="btn btn-large btn-primary"><i class="icon-file icon-white"></i> <i class="icon-plus icon-white"></i></a>
	</div>

	<table class="table">
		<thead>
			<tr class="noborder">
        		<th class="niv1">Nom</th>
        		<th id="col_action_4" style="text-align: right;">Action</th>
    		</tr>
		</thead>
		<tbody>
			{% for area in areas %}
			<tr>
				<td class="niv1">{{ area.name }}</td>
			  	<td id="col_action_4" style="text-align: right;"> 
			  		<a href="{{ path('aio_pages_teasers_area_edit', {lang:lang, id:id, area_id: area.id}) }}" class="action-edit"></a>  
			  		<a href="javascript:;" onClick="delete_area('{{ path('aio_pages_teasers_area_delete', {lang:lang, id:id, area_id: area.id}) }}')"  class="action-del"></a>
		  		</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
