<script>
	//Fonction de draganddrop
	$(function() {
		$( "#sortable1, #sortable2" ).sortable({
			connectWith: ".connectedSortable",
		}).disableSelection();
	});
	
	$(function() {
		$( "#sortable2" ).sortable({
			receive:  function (event, ui) {
				$("#select_save_area_content").append("<option class='item-"+ui.item.attr('id')+"' selected='selected' value='"+ui.item.attr('id')+"'>"+ui.item.attr('id')+"</option>");
	         	$(".save_item_drag").append("<option class='item-"+ui.item.attr('id')+"' selected='selected' value='"+ui.item.attr('id')+"'>"+ui.item.attr('id')+"</option>");
	        }
		}).disableSelection();
	});
	
	$(function() {
		$( "#sortable1" ).sortable({
			receive:  function (event, ui) {
				$('.item-'+ui.item.attr('id')).remove();
				$(".remove_url").append("<option class='item-remove-"+ui.item.attr('id')+"' selected='selected' value='"+ui.item.attr('id')+"'>"+ui.item.attr('id')+"</option>");
	        }
		}).disableSelection();
	});
</script>

<div class="modal-body">
	
	<p>
	<select onchange="">
		{% for rubrique in area.tree %}
		<option value="{{ rubrique.id }}">{{ rubrique.name }}</option>
		{% endfor %}
	</select>
	</p>
			
	<table class="dragdropList">
		<tr>
			<td><h4 style="margin-bottom:10px; margin-left:17px;">Accroches à disposition :</h4></td>
			<td><h4 style="margin-bottom:10px; margin-left:17px;">Accroches liées:</h4></td>
		</tr>
		<tr>
			<td class="dragdropCell">
				<ul id="sortable1" class="connectedSortable" style="margin-left:10px; margin-top:5px;">
					{% for item in rubrique_content.records  %}
					<li id="{{item['id']}}">{{item['value']}} - {{item['id']}}</li>
					{% endfor %}
				</ul>
			</td>
			<td class="dragdropCell">
				<ul id="sortable2" class="connectedSortable" style="margin-left:10px; margin-top:5px;">
					{% for key, item in content_save  %}
					<li id="{{item['id']}}">{{item['value']}} - {{item['id']}}</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
	</table>
</div>

<div class="modal-footer">
	<form id="area_save_content" method="POST" action="{{ path('aio_pages_teasers_area_save_sitemap_url_content', {area_id: area.id, key_url:key_url, id:id }) }}">
		<select style="display:none;" name="content_items_{{area.id}}[]" class="save_item_drag" id="select_save_url_content_{{area.id}}" multiple="multiple">
			{% for content in area.content %}
				<option class='item-{{content.id}}' selected="selected" value="{{content.id}}">{{content.id}}</option>
			{% endfor %}
		</select>
		
		<select style="display:none;" name="content_items_remove_{{area.id}}[]" class="remove_url" id="select_remove_url_content_{{area.id}}" multiple="multiple">
			
		</select>
		
		<button type="submit" class="btn btn-primary">Save changes</button>
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</form>
</div>