<script>
	//Fonction de draganddrop
	$(function() {
		$( "#sortable1, #sortable2" ).sortable({
			connectWith: ".connectedSortable"
		}).disableSelection();
	});
	
	$(function() {
		$( "#sortable2" ).sortable({
			receive:  function (event, ui) {
				$("#select_save_area_content").append("<option class='item-"+ui.item.attr('id')+"' selected='selected' value='"+ui.item.attr('id')+"'>"+ui.item.attr('id')+"</option>");
	         	$(".save_item_drag").append("<option class='item-"+ui.item.attr('id')+"' selected='selected' value='"+ui.item.attr('id')+"'>"+ui.item.attr('id')+"</option>");
	        }
		}).disableSelection();
	});
	
	$(function() {
		$( "#sortable1" ).sortable({
			receive:  function (event, ui) {
				$('.item-'+ui.item.attr('id')).remove();
				$("#select_remove_area_content").append("<option class='item-remove-"+ui.item.attr('id')+"' selected='selected' value='"+ui.item.attr('id')+"'>"+ui.item.attr('id')+"</option>");
	        }
		}).disableSelection();
	});
</script>
	
<table class="dragdropList">
	<tr>
		<td><h4 style="margin-bottom:10px; margin-left:17px;">Accroches à disposition :</h4></td>
		<td><h4 style="margin-bottom:10px; margin-left:17px;">Accroches liées:</h4></td>
	</tr>
	<tr>
		<td class="dragdropCell">
			<ul id="sortable1" class="connectedSortable" style="margin-left:10px; margin-top:5px;">
				{% for item in rubrique_content.records  %}
				<li id="{{item['id']}}">{{item['value']}} - {{item['id']}}</li>
				{% endfor %}
			</ul>
		</td>
		<td class="dragdropCell">
			<ul id="sortable2" class="connectedSortable" style="margin-left:10px; margin-top:5px;">
				{% for key, item in content_save  %}
				<li id="{{item['id']}}">{{item['value']}} - {{item['id']}}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
</table>

