{% extends "AioPagesTeasersBundle::layout.html.twig" %}

{% import _self as create_tree %}
{% macro input(arr, parent, lvl, links_info, lang, list_lang, areas) %}
	{% for key, link in arr %}
		{% set parent_key = parent~'_'~key %}
		<div class="details details_{{parent}} {% if loop.last == true %}last{% endif %} {% if lvl == 2 %}zone_detail{% endif %}" style="display:none;">
			<div style="position: relative;" id="zone_{{parent_key}}">
				{% if link|length != 0 %}
					<a href="javascript:;" onclick="show_details('{{ parent_key }}');"><i id="icon_{{parent_key}}" class="icon-plus"></i></a>
				{% endif %}
				
				{% if link|length != 0 %}
					<span class="expand" onclick="show_details('{{ parent_key }}');">{{ key }}</span>
				{% else %}
					<span class="url-go">{{ key }}</span>
				{% endif %}
				
				{% if link|length == 0 or links_info[key]['endurl'] == true %}
					<table class="table_action_details">
						<tr>
							<td style="width:40px;"><span class="url-see"><a href="{{links_info[key]['domain']}}{{links_info[key]['lang']}}/{{ parent_key|replace({'_' : '/'}) }}" target="_blank" class="action-see"></a></span></td>
							<td><span class="url-lang">(all)</span></td>
							{% if link|length == 0 %}
								{% for area in areas %}
									{% set td_class = '' %}
									
									{% if loop.index%2 == 1 %}
										{% set td_class = 'td-grey' %}
									{% endif %}
									
								 	{% if loop.last %}
								 		{% set td_class = td_class ~ '-last' %}
									{% endif %}
									{# <td class="td-open {{ td_class }}"><a href="#myModal-{{area.id}}" role="button" data-toggle="modal" class="action-edit-disable"></a></td>#}
									<td class="td-open {{ td_class }}"><a href="#myModal_url" onclick="load_content_modal('{{links_info[key]['url_id']}}', '{{area.id}}');" role="button" data-toggle="modal" class="action-edit{% if links_info[key]['isSet'] is not defined %}-disable{% endif %}"></a></td> 
								{% endfor %}
							{% else %}
								{% for area in areas %}
									{% set td_class = '' %}
									
									{% if loop.index%2 == 1 %}
										{% set td_class = 'td-grey' %}
									{% endif %}
									
								 	{% if loop.last %}
								 		{% set td_class = td_class ~ '-last' %}
									{% endif %}
									<td class="td-open {{ td_class }}"><a href="#myModal-{{area.id}}" role="button" data-toggle="modal" class="btn-import-disable"></a></td>
								{% endfor %}
							{% endif %}
						</tr>
					</table>
				{% else %}
					<table class="table_action_details">
						<tr>
							<td><span class="url-lang">(all)</span></td>
							{% for area in areas %}
								{% set td_class = '' %}
								
								{% if loop.index%2 == 1 %}
									{% set td_class = 'td-grey' %}
								{% endif %}
								
							 	{% if loop.last %}
							 		{% set td_class = td_class ~ '-last' %}
								{% endif %}
								<td class="td-open {{ td_class }}"><a href="#myModal-{{area.id}}" role="button" data-toggle="modal" class="btn-import-disable"></a></td>
							{% endfor %}
						</tr>
					</table>
				{% endif %}
			</div>
			{{_self.input(link, parent~'_'~key, 2, links_info[key], lang, list_lang, areas)}}
		</div>
	{% endfor %}
{% endmacro %}

{% block header %}
	<div class="btn-group" style="margin: 0 0 20px 0px;">
		<button data-toggle="dropdown" class="btn dropdown-toggle"><span id="btn_select_site">{{ site_name }} </span> <span class="caret"></span></button>
	  	<ul class="dropdown-menu pull-left" style="min-width: 0;">
	  		{% for site in sites %}
			<li><a onclick="select_site('{{ path('aio_pages_teasers_content', {id:site.id, lang: lang}) }}');" href="javascript:;">{{ site.domain }}</a></li>
			{% endfor %}
	  	</ul>
  	</div>
  	{{parent()}}
{% endblock %}


{% block main %}
	<!-- Requête AJAX -->
	<script>
		function select_rubrique(element, area_id)
		{
			var rubrique_id = element.options[element.selectedIndex].value;
			
			var route = "{{ path('aio_pages_teasers_area_rubrique_items', {lang:lang, area_id:"placeholder"}) }}";
			route = route.replace("placeholder", area_id);
			
			//Requête ajax
			$.ajax({
				url: route,
				type: 'POST',
				data: 'rubrique_id='+rubrique_id,
				success: function(data)
				{
					$('#rubrique_items').html(data);	
				},
			 	error: function(err1, err2, err3)
			 	{
					alert(err1);
					alert(err2);
					alert(err3);
			 	}
			});
		}
		
		function load_content_modal(url_id,area_id)
		{
			
			var route = "{{ path('aio_pages_teasers_area_rubrique_items_url', {lang:'en', area_id:"place_area", url_id:"place_url_id", id:id}) }}";
			route = route.replace("place_url_id", url_id);
			route = route.replace("place_area", area_id);
			
			//Requête ajax
			$.ajax({
				url: route,
				type: 'POST',
				success: function(data)
				{
					$('.loading').hide();
					$('#rubrique_items_url').html(data);	
				},
			 	error: function(err1, err2, err3)
			 	{
					alert(err1);
					alert(err2);
					alert(err3);
			 	}
			});
		}
	</script>

	<div class="header-action">
	 	<div class="btn-group left">
		  <button id="btnlang" data-toggle="dropdown" class="btn dropdown-toggle">{{ lang }}<span class="caret"></span></button>
		  	<ul id="ullang" class="dropdown-menu pull-left">
		  		<li><a href="{{ path('aio_pages_teasers_content', {id: id, lang: 'all'}) }}">all</a></li>
			    {% for lang in list_lang %}
		      	<li><a href="{{ path('aio_pages_teasers_content', {id: id, lang: lang.lang}) }}">{{lang.lang}}</a></li>
			    {% endfor %}
		  	</ul>
			<input id="langhidden" name="lang" type="hidden" />
		</div>
	</div>

	{% if links|length != 0 %}
	<table class="table" id="teaser-pub">
		<thead>
		 <tr class="noborder">
		 	<th class=""></th>
	    	<th class="">URL</th>
	    	<th class="td-open">{{ 'Language' |trans }}</th>
	    	{% for area in areas %}
	    		{% set td_class = '' %}
				{% if loop.index%2 == 1 %}
					{% set td_class = 'td-grey' %}
				{% endif %}
	    		<th class="td-open {{td_class}}"><a href="{{ path('aio_pages_teasers_area_edit', {lang:lang, id:id, area_id : area.id}) }}">{{ area.name }}</a></th>
	    	{% endfor %}
		 </tr>
		</thead>
		<tbody>
			{% for key, link in links %}
			<tr>
				<td style="width:15px; vertical-align: top; padding-left:0px; padding-right:0px;">
					{% if link|length != 0 %}
						<a href="javascript:;" onclick="show_details('{{ key }}');"><i id="icon_{{key}}" class="icon-plus"></i></a>
					{% endif %}
				</td>
				<td  {% if link|length != 0 %}colspan="{{ areas|length + 2}}"{% endif %}>
					<div style="position:relative;" id="zone_{{key}}">
						{% if link|length != 0%}
							<span class="expand" onclick="show_details('{{ key }}');">{{ key }}</span>
							<table class="table_action_details_lvl1">
								<tr>
									{% if  links_info[key]['endurl'] == true %}
									<td style="width:40px;"><span class="url-see"><a href="{{ links_info[key]['domain']}}{{links_info[key]['lang']}}/{{key}}" target="_blank" class="action-see"></a></span></td>
									{% endif %}
									
									<td><span class="url-lang">(all)</span></td>
									{% for area in areas %}
										{% set td_class = '' %}
										
										{% if loop.index%2 == 1 %}
											{% set td_class = 'td-grey' %}
										{% endif %}
										
									 	{% if loop.last %}
									 		{% set td_class = td_class ~ '-last' %}
										{% endif %}

										<td class="td-open {{ td_class }}">
											{% if links_info[key]['endurl'] == true %}
											<a href="#myModal_url" onclick="load_content_modal('{{links_info[key]['url_id']}}', '{{area.id}}');" role="button" data-toggle="modal" class="btn-import{% if links_info[key][area.id]['isSet'] is not defined  %}-disable{% endif %}">
											{% endif %}
										</td>
									{% endfor %}
								</tr>
							</table>
						{% else %}
							<span class="url-go">{{key}}</span>
							<span class="url-see"><a href="{{ links_info[key]['domain']}}{{links_info[key]['lang']}}/{{key}}" target="_blank" class="action-see"></a></span>
						{% endif %}
					</div>
					<!-- Appel de la macro pour créer les enfants -->
					{{create_tree.input(link, key, 1, links_info[key], lang, list_lang, areas)}}
				</td>
				{% if link|length == 0 %}
					<td class="td-open"><span class="url-lang">(all)</span></td>
					{% for area in areas %}
						{% set td_class = '' %}
						
						{% if loop.index%2 == 1 %}
							{% set td_class = 'td-grey' %}
						{% endif %}
						
					 	{% if loop.last %}
					 		{% set td_class = td_class ~ '-last' %}
						{% endif %}
						
						{% if links_info[key][area.id] is defined %}
							<td class="td-open {{ td_class }}">
								{% if links_info[key][area.id]['area'] is defined %}
								<a href="#myModal_url" onclick="load_content_modal('{{links_info[key]['url_id']}}', '{{area.id}}');" role="button" data-toggle="modal" class="action-edit"></a> 
								{% endif %}
							</td>
						{% else %}
							<td class="td-open {{ td_class }}">
								{% if links_info[key][area.id]['area'] is defined %}
								<a href="#myModal_url" onclick="load_content_modal('{{links_info[key]['url_id']}}', '{{area.id}}');" role="button" data-toggle="modal" class="action-edit{% if links_info[key][area.id]['isSet'] is not defined %}-disable{% endif %}"></a> 
								{% endif %}
							</td>
						{% endif %}
						
					{% endfor %}
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div class="alert">
		{{'Aucun lien lien trouvé'|trans}}
	</div>
	{% endif %}

	
	<!-- Modal -->
	<div id="myModal_url" class="modal hide fade" tabindex="-1" style="width:800px; margin-left:-400px;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Gestion des accroches</h3>
			<p class="loading">Chargement en cours ...</p>
		</div>
		<div id="rubrique_items_url">

		</div>
	</div>
	
	<script>
		$().ready(function () {
		   $('#myModal_url').bind('hidden', function () {
		   		$('.loading').show();
		        $('#rubrique_items_url').empty();	
		    });
		});
	</script>
	
{% endblock %}
