{% extends "AioPagesTeasersBundle::layout.html.twig" %}

{% import _self as create_tree %}
{% macro input(arr, parent, links_info, lvl, lang) %}
	{% for key, link in arr %}
		{% set parent_key = parent~'_'~key %}
		<div class="details details_{{parent}} {% if loop.last == true %}last{% endif %} {% if lvl == 2 %}zone_detail{% endif %}" style="display:none;">
			<div id="zone_{{parent_key}}" >
				{% if link|length != 0 %}
					<a href="javascript:;" onclick="show_details('{{ parent_key }}');"><i id="icon_{{parent_key}}" class="icon-plus"></i></a>
				{% endif %}
	
				<span>
				{% if link|length != 0 %}
					<span class="expand {% if links_info[key]['endurl'] == true %}url-go{% endif %}" onclick="show_details('{{ parent_key }}');">{{ key }}</span>
				{% else %}
					<span class="url-go">{{ key }}</span>
				{% endif %}
				
				{% if links_info[key]['endurl'] == true %}
					<span class="url-see"><a href="{{links_info[key]['domain']}}{{links_info[key]['lang']}}/{{ parent_key|replace({'_' : '/'}) }}" target="_blank" class="action-see"></a></span>
				{% endif %}
				
				</span>
			</div>
			{{_self.input(link, parent~'_'~key, links_info[key], 2, lang)}}
		</div>
	{% endfor %}
{% endmacro %}

{% block header %}
	<div class="btn-group" style="margin: 0 0 20px 0px;">
		<button data-toggle="dropdown" class="btn dropdown-toggle"><span id="btn_select_site">{{ site_name }} </span> <span class="caret"></span></button>
	  	<ul class="dropdown-menu pull-left" style="min-width: 0;">
	  		{% for site in sites %}
			<li><a onclick="select_site('{{ path('aio_pages_teasers_homepage', {id: site.id, lang: lang}) }}');" href="javascript:;">{{ site.domain }}</a></li>
			{% endfor %}
	  	</ul>
  	</div>

	{{parent()}}
{% endblock %}

{% block main %}

	<div class="header-action">
	 	<div class="btn-group left">
		  <button id="btnlang" data-toggle="dropdown" class="btn dropdown-toggle">{{ lang }}<span class="caret"></span></button>
		  	<ul id="ullang" class="dropdown-menu pull-left">
			    {% for lang in list_lang %}
		      	<li><a href="{{ path('aio_pages_teasers_homepage', {id: id, lang: lang.lang}) }}">{{lang.lang}}</a></li>
			    {% endfor %}
		  	</ul>
		</div>
	</div>
	
	{% if links|length != 0 %}
	<table class="table" id="teaser-pub">
		<thead>
		 <tr class="noborder">
		 	<th style="width:15px;vertical-align: top; padding-left:0px; padding-right:0px;" class=""></th>
	    	<th class="">URL</th>
		 </tr>
		</thead>
		<tbody>
			{% for key, link in links %}
			<tr>
				<td style="width:15px; vertical-align: top; padding-left:0px; padding-right:0px;">
					{% if link|length != 0 %}
						<a href="javascript:;" onclick="show_details('{{ key }}');"><i id="icon_{{key}}" class="icon-plus"></i></a>
					{% endif %}
				</td>
				<td>
					<div id="zone_{{key}}">
						<span>
						{% if link|length != 0 %}
							<span class="expand" onclick="show_details('{{ key }}');">{{ key }}</span>
						{% else %}
							<span class="url-go">{{key}}</span>
							<span class="url-see"><a href="{{ links_info[key]['domain']}}{{links_info[key]['lang']}}/{{key}}" target="_blank" class="action-see"></a></span>
						{% endif %}		
						</span>
					</div>
					{{create_tree.input(link, key, links_info[key], 1, lang)}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div class="alert">
		{{'Aucun lien lien trouvé'|trans}}
	</div>
	{% endif %}
{% endblock %}